.menu-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    fill: #000000;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (max-width: 479px) {
        display: block;
    }
}