.modal {
    width: 450px;
    min-height: 609px;
    background-color: var(--backgraund-color-white);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform var(--anim-fast) var(--transition-func);
    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
}
.backdrop.is-hidden modal {
    transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--anim-fast) var(--transition-func);
    
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}






